<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catena Ristoranti</title>
    <link href="css/index.css" rel="stylesheet" type="text/css" />
</head>
<!-- COMMENTO -->
<body>
    <header>
        <div th:if="${user != null}">
            Benvenuto <span th:text="${user.nome}"></span> <span th:text="${user.cognome}"></span>
        </div>
        <div id="unDiv">
            <img id="logo" class="round" src="images/ristorante.png" width="25%" />
        </div>
        <h1>Sito gestione recensioni ristorante</h1>
        <h2>Qui gestiamo le recensioni dei ristoranti</h2>
        <nav>
            <ul>
                <li>Home</li>
                <li>
                    <a href="chi_siamo.html">
                        Chi siamo
                    </a>
                </li>
                <li><a href="/ristoranti/dammiRistoranti">Ristoranti</a></li>
                <!-- if -->

                <li><a th:if="${user == null}" href="/login.html">Login</a></li>
                <!-- else -->
                <li><a th:unless="${user == null}" href="/doLogout">Logout</a></li>

                <li>Registrati</li>
            </ul>
        </nav>
    </header>
    <p>
        Tramite questo sito è possibile gestire le
                recensioni dei ristoranti.
    </p>
    <p>
        Naviga tra queste pagine per gestire il tutto <br/> comodamente da casa tua
    </p>
    <section>
        <h3>I ristoranti migliori</h3>
        <article>
            <figure>
                <img src="images/ristorante1.jfif">
                <figcaption><h5>Una foto del ristorante</h5></figcaption>
            </figure>
            <h4>Ristorante/Pizzeria le Casette di Zio Santino</h4>
            <p>In questo ristorante si cucina un po' di tutto ed offre anche ampie varietà di pizze</p>
        </article>
        <article>
            <figure>
                <img src="images/ristorante2.jfif">
                <figcaption><h5>Una vista del ristorante</h5></figcaption>
            </figure>
            <h4>Osteria degli Hernandez</h4>
            <p>Cucina tipica a base di tartufo. Possibilità di gustare vari tipi di vino</p>
        </article>
    </section>
    <section>
        <h3>I ristoranti peggiori</h3>
        <article>
            <figure>
                <img src="images/ristorante3.jfif">
                <figcaption><h5>Una panoramica del ristorante</h5></figcaption>
            </figure>
            <h4>Pizzeria Iamme Ià</h4>
            <p>Pizza napoletana di eccellenza, varie varietà di pizza e
                possibilità di mangiare la pizza fritta</p>
        </article>
        <article>
            <figure>
                <img src="images/ristorante4.jfif">
                <figcaption><h5>Una visione del ristorante</h5></figcaption>
            </figure>
            <h4>Ristorante Nessuno</h4>
            <p>Cucina locale ottima con prodotti freschi e di qualità</p>
        </article>
    </section>
    <footer>
        Contatti: reale@mat.unical.it
        Tel: 123456789
        Privacy Policy
        Facebook
    </footer>
</body>
</html>